APP_ENV=development

FE_PORT=3000
FE_HOST=0.0.0.0
BE_PORT=8080
BE_HOST=0.0.0.0
CORS_ALLOWED_ORIGIN=*

POSTGRES_DB=dukcapil_pbd
POSTGRES_USER=dukcapil_pbd
POSTGRES_PASSWORD=dukcapil_pbd_password
POSTGRES_PORT=5432
DATABASE_URL=postgres://dukcapil_pbd:dukcapil_pbd_password@dukcapil-pbd-db:5432/dukcapil_pbd?sslmode=disable

NEXT_PUBLIC_API_BASE_URL=
NEXT_PUBLIC_API_PREFIX=/api/backend
SERVER_API_BASE_URL=http://dukcapil-pbd-be:8080
SERVER_API_PREFIX=/api/v1
AUTH_COOKIE_SECURE=false
JWT_SECRET=dev-secret-change-me

# Mac server
UPLOADS_HOST_PATH=/Users/Shared/dukcapil-pmk/uploads

# Gunakan ini ketika dipindahkan ke Linux
# UPLOADS_HOST_PATH=/srv/dukcapil-pmk/uploads

STORAGE_ROOT=/app/storage/uploads
MAX_UPLOAD_SIZE_MB=20
